*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f5f6f7;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "PingFang SC", "Microsoft YaHei";
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1 px solid transparent;
  padding: 7px 14px;
  font-size: 14px;
  border-radius: 3px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: #353535;
  background: #fff;
  border-bottom: 1px solid #eee;
}
.brand-logo {
  font-size: 16px;
  font-weight: bold;
}
.brand-logo > small {
  margin: 0 4px;
  color: #999;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
  font-size: 13px;
  color: #666;
}

.book-card {
  position: relative;
  display: flex;
  max-width: 660px;
  background: #fff;
  margin: 80px 20px;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}
.book-card > img {
  width: 180px;
  margin-right: 15px;
}
.book-card__body {
  display: flex;
  flex-direction: column;
  padding-bottom: 4px;
}
.book-card__info {
  flex: 1;
}
.book-card__info h3 {
  font-size: 16px;
}
.book-card__info dl {
  display: flex;
  margin: 5px 0;
  font-size: 14px;
  text-align: justify;
}
.book-card__info dt {
  width: 40px;
}
.book-card__info dd {
  flex: 1;
}
.book-card__oprate .btn-primary {
  margin-right: 15px;
}
.book-card__code {
  color: #ff8850;
}

@media screen and (max-width: 576px) {
  .book-card {
    flex-direction: column;
  }
  .book-card img {
    display: block;
    margin: 0 auto;
  }
  .book-card__info h3 {
    text-align: center;
  }
}
