!.eslintrc.js
**/*.svg
*.png
.DS_Store
.gitignore
.eslintignore
.editorconfig
.prettierignore
.eslintcache
.history
*.lock
package.json
yarn-error.log
LICENSE
/dist
/build
/public
/server