.DS_Store
node_modules

# build results
dist
dist-ssr
bin
obj
[Dd]ebug
[Rr]elease
[Rr]eleases
unpackage
temp

# local env files
packages
.local
.env.local
.env.*.local
*.[Ll]ocal.json
.eslintcache
.cache
.npmrc

# log files
[Ll]og
[Ll]ogs
*.log

# editor directories and files
.idea
.vs
*.suo
*.user
~$*

build
appsettings.*.json