<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishDir>../../build</PublishDir>
    <PublishUrl>../../build</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <TargetFramework>net6.0</TargetFramework>
    <ProjectGuid>a7178447-48a1-495a-8681-575995eb202b</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>

<!--
如果要在发布时自动包含数据库连接，请在该文件目录创建一个名为 FolderProfile.pubxml.user 的文件，该
文件不会提交到 Git 服务器。文件内容如下：

<?xml version="1.0" encoding="utf-8"?>
<Project>
  <ItemGroup>
    <DestinationConnectionStrings Include="GeekGistConnection">
      <Value>server=localhost;port=3306;database=geekgist;uid=root;pwd=123456</Value>
    </DestinationConnectionStrings>
  </ItemGroup>
</Project>

注意，连接字符串中若包含下面字符，则需要进行转义：
" 替换为 &quot;
& 替换为 &amp;
< 替换为 &lt;
> 替换为 &gt;
空格 替换为 &nbsp;

-->