<div class="text-center mx-auto bg-white p-5 text-justify mt-4" style="max-width:750px;">
    <h1 class="display-4">请我喝杯咖啡</h1>
    <p class="lead">如果本站对你有些许帮助，那就小小赞助一下吧</p>
    <div class="row">
        <div class="col-md mt-3">
            <img src="~/img/wepay-qr.png"  />
        </div>
        <div class="col-md mt-3">
            <img src="~/img/alipay-qr.png" />
        </div>
    </div>
</div>