@{
    var title = "极客精神 • 只分享精品好书";
    if (ViewData["Title"] is not null)
    {
        title = $"{ViewData["Title"]} - 极客精神";
    }

    var description = "这是一个分享优质电子书资源的小站，电子书资源搜集于网络，本站进行归类整理，并坚持定期更新，方便大家查找和免费下载。";
    if (ViewData["Description"] is not null)
    {
        description = ViewData["Description"] as string;
        if (description.Length > 200)
        {
            description = description.Substring(0, 200) + "...";
        }
    }

    string alertMessage = TempData["Alert"]?.ToString();
}

<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <title>@title</title>
    <meta name="description" content="@description" />
    <meta name="keywords" content="电子书, 书籍, 图书, 下载, E-book, pdf, azw3, epub, mobi" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</head>

<body>
    @if (!string.IsNullOrEmpty(alertMessage))
    {
        <div class="alert alert-danger">@alertMessage</div>
    }
    @RenderBody()
</body>

</html>