@inherits LayoutComponentBase
@inject NavigationManager NavManager

<div class="app">
    <Layout>
        <Sider Collapsible Collapsed=@collapsed NoTrigger CollapsedWidth="50">
            <NavLink class="app-logo" @onclick=@(()=>NavManager.NavigateTo("/admin"))>
                <img src="/img/logo-32.png" />
                @if (!collapsed)
                {
                    <h1>书大师后台</h1>
                }
            </NavLink>
            <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline" SelectedKeys=selectedKeys OnMenuItemClicked="OnMenuItemClicked">
                <MenuItem Key="admin" Icon="home">
                    书籍管理
                </MenuItem>
                <MenuItem Key="admin/tags" Icon="tags">
                    标签管理
                </MenuItem>
            </Menu>
        </Sider>
        <Layout>
            <Header Class="app-header">
                <span class="trigger" @onclick="ToggleCollapsed">
                    <Icon Type=@(collapsed?"menu-unfold":"menu-fold") Theme="outline"  />
                </span>
                <a href="/account/logout">
                    <Button Type="@ButtonType.Link">退出</Button>
                </a>
            </Header>
            <Content>
                @Body
            </Content>
        </Layout>
    </Layout>
</div>

@code {
    bool collapsed;
    string[] selectedKeys;

    void SetSelectedKey(string key) => selectedKeys = new[] { key };

    protected override void OnInitialized()
    {
        SetSelectedKey(NavManager.Uri.Replace(NavManager.BaseUri, ""));
    }

    void OnMenuItemClicked(MenuItem item)
    {
        SetSelectedKey(item.Key);
        NavManager.NavigateTo(item.Key);
    }

    void ToggleCollapsed()
    {
        collapsed = !collapsed;
    }
}