<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin">书大师后台管理</a>
    </div>
</div>

<nav class="flex-column">   
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
            <span class="bi bi-house-fill" aria-hidden="true"></span>
            <span>书籍管理</span>
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/admin/tags">
            <span class="bi bi-tags-fill" aria-hidden="true"></span> 标签管理
        </NavLink>
    </div>
</nav>
